<div>
    <div style="height:10px;"></div>
    <div class="row justify-content-center ">
        <div style="font-size:12px;">
            <p><span style="font-size:15px;">Developed by</span><br>
                32190103 강형철 / 32192587 엄현호<br>
                Contact Email : <span> hckang17@naver.com </span><br>
                Git hub : <a href="https://github.com/umleeho1/sugangapply1" style="text-decoration: underline; color: black;">github.com/EOMLEEHO1<br></a>
                © COPYRIGHTS HCKANG17, EOMLEEHO1 ALL RIGHTS RESERVED</p>
        </div>
    </div>
</div>