{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <!-- 블럭 안에 들어갈 내용-->

    <!-- 확인하고자 하는 URL 입력창 & 버튼 -->
    <form method="post" action="{% url 'sugang:testURL' %}">
      {% csrf_token %}
      <div class="input-group mb-3 URL-input">
        <button class="btn btn-outline-secondary" type="submit">테스트</button>  
        <input id="saveURL" name="saveURL" type="text" class="form-control px-3" placeholder="접속하고자 하는 URL을 입력해주세요.">
      </div>
    </form>

    <section class="result-table">
      <div class="card text-center" style="margin-bottom:15px;">
        <div class="card-header">
          속도측정 결과
        </div>
        <div class="card-body" style="height:200px;">
          <h5 class="card-title">(사이트) 접속 기준</h5>
          <p class="card-text">Uplink Speed : 몇/ms</p>
          <p class="card-text">Downlink Speed : 몇/ms</p>
          <p class="card-text">Ping Speed : ms</p>
          <p class="card-text">(그 외 지표)</p>
        </div>
      </div>
      
    {% include "servertime.html" %}

    
    </section>

    <section style="vetical-align:middle;">
        <!-- 결과화면 두 곳을 float할 구역-->
        <div class="main-rankingbox">
          <div class="card text-center">
            <div class="card-header">
              인터넷 속도 랭킹
            </div>
            <div class="card-body" style="height:140px;">
              <h5 class="card-title">순위 / 핑 / 업링크 속도 / 다운링크 속도</h5>
              <p class="card-text"># / N ms / N bps / N bps</p>
              <p class="card-text"># / N ms / N bps / N bps</p>
            </div>
          </div>
        </div>

        <div class="main-ratebox">
          <div class="card text-center" style="vertical-align:middle;">
            <div class="card-header">
              수강신청 성공확률
            </div>
            <div class="card-body" style="height:140px;">
              <h5 class="card-title">귀하의 수강신청 확률은..</h5>
              <p class="card-text">(성공확률 표시. '높은확률'~'낮은확률')</p>
            </div>
          </div>
        </div>
    </section>

{% endblock%}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        setInterval(function() {
            var ajaxURL = '{{ user_url }}';
            if (ajaxURL === '') {
                ajaxURL = 'load_defaultclock/';
            } else {
                ajaxURL = 'loadclock/';
            }
            $.ajax({
                url: ajaxURL,
                success: function(data) {
                    $('#servertime-container').text(data.current_servertime);
                }
            });
        }, 1000);
    });
</script>
{% endblock %}