<!-- 모든 페이지 상단에 공통으로 나타날 퀵메뉴바  -->
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'sugang:main'%}">SERVER TIME</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item"><a class="nav-link" href="">메뉴1</a></li> -->
                <li><a class="nav-link" href="admin/">관리자모드</a></li>
                <!-- <li><a class="nav-link" href="">메뉴2</a></li> -->
                <li><a class="nav-link" href="{% url 'welcome_page'%}">처음으로</a></li>
            </ul>
        </div>
        <span>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li style="background-position:right;">
                    <a class="nav-link" href="//github.com/hckang17/ServerTime">개발자 사이트로</a>
                </li>
            </ul>
        </span>
    </div>

    