<div style="line-height: 20%;">
    <br>
</div>

<div class="container-fluid">
    <div id="chatbox" class="sidebar-chatbox"></div> 
    <!-- 실시간 채팅 박스 -->
    <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="내용을 입력하세요">
        <div class="input-group-append px-2">
          <button class="btn-sm btn-outline-secondary" type="button">전송하기</button>
        </div>
    </div>
      

        <!-- Total / Today 위젯 -->
    <div class="sidebar-menubox">
        <div id="widget" class="widget" style="text-align: center;">
            <div><p id="total">Total / Today</p></div>
            <div><p>0 / 0</p></div>
        </div>
    </div>

     <!-- 광고 영역 -->
    <div id="ad" class="sidebar-adbox" style="vertical-align:middle;">
        <!-- 광고 내용 -->
        <h6 style="vertical-align:middle;">이곳에 광고가 표시됩니다.</h6>
    </div>

</div>

