<table class="table table-light table-striped-colums">
    <thead>
      <tr>
        {% if user_url %}
        <th class="text-center">'{{ user_url }}' 의 서버시간</th>
        {% else %}
        <th class="text-center">이 사이트의 서버시간</th>
        {% endif %}
      </tr>
    </tead>
    <tbody>
      <tr class="table-servertime">
        <style>
          .table-servertime {
            display: flex;
            justify-content: center;
          }
          .table-servertime p{
            font-size : 20px;
          }
          .table-servertime h3{
            margin-bottom : 15px;
          }
        </style>
        <td class="text-center" style="height:100px; vertical-align:middle;">
          <h2><span id="servertime-container">{{ current_servertime }}</span></h3>
          <p><span id="InternetDelay"></span>ms delayed</p>
        </td>
      </tr>
    </tbody>
</table>