{%load static%}
<table class="table table-light table-striped-colums">
  <thead>
    <tr>
      <th class="text-center" style="display: flex; align-items: center; justify-content: center;">
        <div><img src="{% static 'img/clock.png' %}" style="width:20px; height:20px;"></div>
        <div>{% if user_url %}　'{{ user_url }}'{% else %}　이 사이트{% endif %}의 서버시간　</div>
        <div><img src="{% static 'img/clock.png' %}" style="width:20px; height:20px;"></div>
      </th>  
    </tr>
  </tead>
  
  <tbody>
    <tr class="table-servertime">
      <style>
        .table-servertime {
          display: flex;
          justify-content: center;
        }
        .table-servertime p{
          font-size : 20px;
        }
        .table-servertime h3{
          margin-bottom : 15px;
        }
      </style>
      <td class="text-center" style="height:100px; vertical-align:middle;">
        <h2><span id="servertime-container">{{ current_servertime }}</span></h3>
        <p><span id="InternetDelay"></span>ms delayed</p>
      </td>
    </tr>
  </tbody>
</table>

