{%load static%}

<style>
    .card-speedrank {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .card-speedrank p {
        margin: 0;
        font-size: 30px;
    }
</style>

<div class="main-rankingbox">
    <div class="card text-center">
        <div class="card-header" style="display: flex; align-items: center; justify-content: center;">
            <div><img src="{% static 'img/rank.png' %}" style="width:20px; height:20px;"></div>
            <div>　인터넷 속도 랭킹　</div>
            <div><img src="{% static 'img/rank.png' %}" style="width:20px; height:20px;"></div>
        </div>
        <div class="card-body card-speedrank" style="height:200px;">
            <div style="display: flex; flex-direction: column; justify-content: center;">
                <p class="card-text" style="margin: 0 auto;"><span id="speedRanking">측정중...</span></p>
            </div>
        </div>
    </div>
</div>
